@model McWendellKingSchedule.Models.Schedule

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateEnd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateStart)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.ScheduleID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
