@model McWendellKingSchedule.Models.Schedule

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateStart)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateEnd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
       
       
    </dl>
</div>
<div class="col-md-1"></div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.ScheduleID" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-wrench"></span> Edit</a> |
    <a asp-action="Index" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-backward"></span>Back to List</a> |
</p>
<div>@Component.Invoke("CalendarView", Model.ScheduleID)</div>
